.controls-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: var(--title-height);
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}